#container {
  width: 400px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sticker-element {
  position: absolute;
  width: 25rem;
  height: 7rem;
  margin: 2rem 0;
}